<h3>
  How to Play
</h3>

<mat-list role="list">
  <mat-list-item role="listitem">1. Enter rounds</mat-list-item>
  <mat-list-item role="listitem">2. Pick a card</mat-list-item>
  <mat-list-item role="listitem">3. Try to win</mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list role="list">
  <mat-list-item role="listitem">Paper > Rock</mat-list-item>
  <mat-list-item role="listitem">Rock > Scissors</mat-list-item>
  <mat-list-item role="listitem">Scissors > Paper</mat-list-item>
</mat-list>
