.main-board {
  border: 2em dashed darkslateblue;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flew-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-flow: ro 0nowrap;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 8em;
  height: 10em;
}
