<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div>Card(s) left: {{ deck.length }}</div>

<div class="main-board">
  <label class="player-title">{{ player1.username }}'s hand</label>

  <div class="card-container">
    <div class="card-item" [ngClass]="{'active': card.isSelected}" *ngFor="let card of player1.hand; let index = index" (click)="selectCard(player1, index)">
      <label>{{ card.name }}</label>
      <img class="card-img" [src]="card.img">
    </div>
  </div>

  <button mat-raised-button color="primary" [ngClass]="{'inactive': !player1.isSelected}" (click)="player1.isSelected ? submit() : null">
    Submit
  </button>
</div>

<div class="main-board">
  <label>{{ player2.username }}'s hand</label>

  <div class="card-container">
    <div class="card-item" [ngClass]="{'active': card.isSelected && player2.isTurn}" *ngFor="let card of player2.hand">
      <label *ngIf="!player2.isTurn">???</label>
      <label *ngIf="player2.isTurn">{{ card.name }}</label>
      <img class="card-img" [src]="card.img">
    </div>
  </div>

</div>

<button mat-raised-button color="accent" (click)="startGame()">New Game</button>
