.game-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;

  .background-img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background: url("../assets/card-img-001.png") center no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .round-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
  }
}

.main-board {
  border: 1.2em dashed darkslateblue;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  max-width: 50em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  min-height: 25em;

  button.inactive {
    cursor: not-allowed;
  }

  .player-title {
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
  }

  .card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .card-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    border: 2px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      border-color: cornflowerblue;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  }

  .card-img {
    width: 8em;
    height: 10em;
  }
}


.button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 50em;
  width: 100%;
  margin: 1.5em 0 2.5em 0;
}
