/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');
@import "~@angular/material/theming";

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

html, body, app-root {
  height: 100%;
  color: #3a3a3a;
  font-family: 'IBM Plex Sans', sans-serif;;
}

body {
  margin: 0;
}

i.material-icons:before{display:none;}

.c-na {
  cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.spacer {
  flex-grow: 1;
}

// font color
.f-c-primary {
  color: mat-color($primary, default);
}

